@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #f8faf9;
  --foreground: #191c1c;
  --card: #ffffff;
  --card-foreground: #191c1c;
  --popover: #ffffff;
  --popover-foreground: #191c1c;
  --primary: #01261f;
  --primary-foreground: #ffffff;
  --secondary: #4c6358;
  --secondary-foreground: #ffffff;
  --muted: #f2f4f3;
  --muted-foreground: #414846;
  --accent: #cee9da;
  --accent-foreground: #52695e;
  --destructive: #ba1a1a;
  --destructive-foreground: #ffffff;
  --border: #c1c8c4;
  --input: #c1c8c4;
  --ring: #43655c;
  --chart-1: #43655c;
  --chart-2: #4c6358;
  --chart-3: #2d1f00;
  --chart-4: #aacec3;
  --chart-5: #f8bd2a;
  --radius: 0.625rem;
  --sidebar: #f2f4f3;
  --sidebar-foreground: #414846;
  --sidebar-primary: #01261f;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e1e3e2;
  --sidebar-accent-foreground: #01261f;
  --sidebar-border: #c1c8c4;
  --sidebar-ring: #43655c;
}

.dark {
  --background: #191c1c;
  --foreground: #e1e3e2;
  --card: #191c1c;
  --card-foreground: #e1e3e2;
  --popover: #191c1c;
  --popover-foreground: #e1e3e2;
  --primary: #aacec3;
  --primary-foreground: #00372f;
  --secondary: #b3ccbf;
  --secondary-foreground: #1e352c;
  --muted: #414846;
  --muted-foreground: #c1c8c4;
  --accent: #354c41;
  --accent-foreground: #cee9da;
  --destructive: #ffb4ab;
  --destructive-foreground: #690005;
  --border: #414846;
  --input: #414846;
  --ring: #aacec3;
  --chart-1: #aacec3;
  --chart-2: #b3ccbf;
  --chart-3: #f8bd2a;
  --chart-4: #43655c;
  --chart-5: #4c6358;
  --sidebar: #131414;
  --sidebar-foreground: #c1c8c4;
  --sidebar-primary: #aacec3;
  --sidebar-primary-foreground: #00372f;
  --sidebar-accent: #414846;
  --sidebar-accent-foreground: #e1e3e2;
  --sidebar-border: #414846;
  --sidebar-ring: #aacec3;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}